---
pageable: true
per_page: 10
---

<% page_articles.each_with_index do |article, i| %>
  <article>
    <header>
      <h1 class="article__title"><%= link_to article.title, article %></h1>
      <%= partial "partials/blog-article-meta", :locals => {:current_article => article} %>
    </header>

    <%= article.body %>
  </article>
<% end %>


<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <p>
    <% if prev_page %>
      <%= link_to 'Previous page', prev_page %>
    <% end %>

    <% if prev_page && next_page %> || <% end %>

    <% if next_page %>
      <%= link_to 'Next page', next_page %>
    <% end %>
  </p>
<% end %>
